---

---

<p>
   
TenderMasters is a young and growing consulting company, a start-up, specialized
in Sales Enablement Services, formed to support organizations to bid and tender for 
contracts. We embarked upon a journey to transform the ways bids are being managed and 
submitted. Transformation that brings proposals from papers to digital, mentality of bid-to-submit
to bid-to-win, boiler-plates to custom content and many more. With all this transformation, our core 
agenda has always been reducing the bid cost and boosting the win rate of our clients.

</p>
<div class="spacer"></div>
<!--Progressive Bars-->
<div class="progress-container">
		<div id="progressbar" style="width: 50%">
				<div class="bar-text">07 recurrin clients</div>
			  </div>
</div>
<div class="progress-container">
		<div id="progressbar" style="width: 58%">
				<div class="bar-text"> 12 consultants</div>
			  </div>
</div>
<div class="progress-container">
		<div id="progressbar" style="width: 65%">
				<div class="bar-text">
						23
						delivered Proposals
						</div>
			  </div>
</div>
<div class="progress-container">
		<div id="progressbar" style="width: 80%">
				<div class="bar-text">
						452
						delivered work hours
						</div>
			  </div>
</div>
<div class="progress-container">
		<div id="progressbar" style="width: 97%">
				<div class="bar-text">
						97%
						quality score
						</div>
			  </div>
</div>
<div class="spacer"></div>

<section>
		<div class="container flex">
			<div class="text editable">
				<h2 style="color: #4182e4; text-align: left"><strong>TenderMasters at a glance: </strong></h2>
				<p style="font-size: 20px">         Bid Consulting is our blood and so we strive to build niche by niche into specific sectors and domains. We formed a team that brings subject matter expertise into various business and technical domains. 
						Our team provide consistency, reliability and allow us to build longstanding partnerships with our clients. We are able to work with our clients, understand their goals and become a key part of their business winning function.
						TenderMasters offers value driven business solutions that are tailored to empower organizations to maximize their business growth. Our end-to-end Bid Solutions include Bid Search, Bid Strategy, Bid Writing, Bid Management, Solution Designing, Mock Evaluations and Bid Packaging.
						Passion and Commitment to our clients and internally are our core values that everyone brings while on-boarding TenderMasters.
						Currently, we have offices in Lusaka, Zambia and are operating globally through our digital presence. Our team is comprised of seasoned Bid Analysts, Bid Coaches, Bid Managers, Bid Writers, Solution Designers, Business Analysts and Creative Analysts with extensive technical & business experience.
						</p>
			</div>
			<div></div>
		</div>
	</section>

	
<!--Progressive Bars-->
<section>
		<div class="container flex">
			<div class="text editable">
				<h2 style="color: #4182e4; text-align: center" id="skills"><strong>Skills Inventory: </strong></h2>
				<p>Our people are handpicked for their expertise in various aspects of the Bid environment and have considerable experience in their chosen field. We have considerable knowledge and understanding of both Federal Government and Private Sector bid environments.
						To help you win, we can either provide a complete Bid team to run the end-to-end Bid Process as a project, or we can provide individual experts to bolster & enhance your existing bid team.
						As part of our Bid Solutions, we offer Bid Search, Bid Strategy Creation, Bid Management, Mock Evaluation, Solution Design, Bid Writing and Bid Packaging. We also provide Post-Bid Analysis, Transition Management (from bid to delivery) as a service at the end of a winning bid cycle.
						Once you choose to engage with us, our Bid Experts will work closely with you to understand your needs and organizational preferences and bring in the necessary tools and methodologies to help create an effective proposal. Our team is available to either work at your location or virtually, depending upon your preference.
						</p>
			</div>
		</div>
	</section>
<section>
			<div class="container flex">
				<div class="text editable">
					<h2 style="color: #d623fe; text-align: left; padding-top: 0px;margin-top: -360px; font-size: 24px"><strong>Bid Analyst</strong></h2>
					<p>
							From trolling through hundreds of active and 
								relevant bids to extensive competitor and market research, our Bid Analyst is
								 an invaluable resource in any Bid Process.
								  Bid Analyst provides the following services:
							<ul>
								<li>Analyzing Bids available on various government portals and classifying them by sector, target audience, size of opportunity and other factors.</li>
								<li>Collating and analyzing relevant information to support bid development including in-depth analysis of business performance.</li>
								<li>Conducting research via a wide variety of industry and data sources.</li>
								<li>Developing complex models to assess and forecast business performance</li>
								<li>Working with colleagues to evaluate business strategy</li>
								<li>Drawing conclusions from findings and communicating ideas and recommendations through written and verbal presentations, and</li>
								<li>Supporting the preparation of bid documents.</li>
							</ul>
					</p>
				</div>
				<div class="text editable">
						<h2 style="color: #d623fe;  text-align: left;font-size: 24px"><strong>Bid Writer</strong></h2>
						<p>
								Our Bid Writers work under the supervision of the Bid Manager and assist them in developing a proposal structure. They help translate the technical language of the solution team and SMEs into easy-to-understand business language for your target customer. They specialize in writing effective, concise and compelling technical content, while managing the strict timelines. They not only write technical content of the bids, but also create presentations and supporting documentation, ensuring 
								a cohesive and consistent approach. Our Bid writers are adept at:
						</p>
						<ul>
								<li>Writing proposal responses based on RFP/RFQ instruction and detailed information from subject matter experts (SMEs) and knowledge holders, referring back to them for editing and final approval, leading to increased success in winning contracts</li>
								<li>Understanding the win themes and baking them effectively in different areas of the response document.</li>
								<li>Effectively highlighting the value proposition and solution elements that make a winning proposal</li>
								<li>Collating the input of disparate contributions to create a coherent and well-structured final response</li>
								<li>Proof-reading, editing and structuring the response document so it looks professional and meets the utmost quality standards.</li>
								<li>Ensuring the timely creation and review of all bid collaterals</li>
								<li>Package the solution in a manner that will support their marketing and attractiveness</li>
								<li>preparing response documents and presentations in the necessary formats and liaising with creative team to design relevant and effective graphics and style sheet templates.</li>
							</ul>
				</div>
			</div>
</section>
<section>
   <div class="container flex">
	 <div class="text editable">
		<h2 style="color: #d623fe;  text-align: left;font-size: 24px; padding-top: 0px;margin-top: -240px; "><strong>Bid Coach</strong></h2>
		<p>
				The Bid Coach acts as a Program Manager to coach the team on multiple proposals and actively participates in win theme war rooms and key message developments.
				Our Bid Coaches have capability in delivering winning complex services opportunities and have a background in solutions and services. They have extensive experience of bid campaign management from opportunity identification through to project delivery, and will provide valuable input into opportunity qualification, win strategies, commercial discussions and solution design. They are fully conversant with the competitive marketplace, have sound commercial understanding, P&L and risk management skills and have the ability to manage complex, multi-work-stream opportunities. They also bring with them a solid understanding and implementation of internal governance procedures. Their core responsibilities include:
				
				<ul>
						<li>To coach the team on bid qualification decision for new opportunities</li>
						<li>Contribute to Win Theme determination and development of key business messages</li>
						<li>Help shape the written proposal by bringing in business and industry insights</li>
						<li>Reviewing the commercial aspects of the bid, ensuring all services are included in the final price to the customer</li>
						<li>Risk tracking and management throughout the bid process</li>
						<li>Approve bid budget</li>
						<li>Helping resolve complex technical, strategic and business issues</li>
					
					</ul>
			</p>
		</div>
		<div class="text editable">
				<h2 style="color: #d623fe;  text-align: left;font-size: 24px; "><strong>Bid Manager</strong></h2>
				<p>
						The Bid Manager runs the end-to-end proposal process as a project. He/she will co-ordinate and produce the proposal response by identifying and assembling a bid team with the relevant knowledge and expertise needed to win. This is a critical role that requires a dynamic personality with the ability to work under pressure, stick to challenging deadlines and network across multiple teams and platforms.
						Our accomplished Bid Managers fit the above requirements to the letter. They are highly motivated, innovative and above all, have a professional approach to the Bid Management process. They pride themselves on their attention to detail, excellent communication skills and effectiveness in delivering high-quality bids time and time again. Their primary responsibilities include:
						
						<ul>
								<li>Own the end-to-end bid process.</li>
								<li>Identify and bring together the right Bid team for the bid underway.</li>
								<li>Understand and analyze the Bid. Create a proposal outline and brief the team using this outline.</li>
								<li>Organize and run Win theme, story-boarding & key message workshops and ensure the resulting messages are baked into the written proposal.</li>
								<li>Organize and run in-depth Solution workshops to ensure the most appropriate and relevant solutions for each bid are effectively pulled together for the response.</li>
								<li>Compile, edit, and proof read proposal responses and ensure that these are presented in a professional and concise manner.</li>
								<li>Review and revise documents prepared by others and coordinate the preparation of those materials in a completed bid document.</li>
								<li>Create a Bid schedule for internal deadline and reviews, identify risks
									 and build in redundancies to ensure that all documentation preparation and 
									 reviews are tracked and completed well within your customer deadline.</li>
								<li>Develop reference materials and proper documentation to assist in transfer of control bac to you after the Bid process is over.</li>
								<li>Do post Bid Analysis and document lessons learned from the Bid</li>
							</ul>
					</p>
		</div>
	</div>
</section>
<section>
		<div class="container flex">
		  <div class="text editable">
			 <h2 style="color: #d623fe;  text-align: left;font-size: 24px"><strong>Solution Designer</strong></h2>
			 <p>
					The solution is the core, around which the entire response is built. Our Solution Designers are highly skilled and experienced professionals with proficiency in their chosen fields, especially in Information Technology.
					Our Solution Designers closely examine the business requirements of your target customers and then define the right technical solution to competently address these requirements. They Stay current on latest technologies and solutions in the industry to continually propose new and innovative solutions to complex challenges. Some of the key responsibilities fulfilled by our Solution Designers include:
					
					 
					 <ul>
							 <li>Review RFP documents to understand scope of work and customer needs to develop an overarching solution to be proposed as part of the response.</li>
							 <li>Develop and write technical responses for winning proposals</li>
							 <li>Develop technical approach and project engineering plans, including scheduling of tasks, processes, and identifying critical resources, to turn the solution into a successful proposal</li>
							 <li>Research and Assess market level technology trends as well as capabilities of complementary solutions enabling larger scale solution offerings</li>
							 <li>Assist with determining level of costing and effort estimates for various components of proposal responses, using information provided as part of the solicitation documentation, to determine most cost efficient and effective approaches. Develop lifecycle cost models to support architecture decision trades. Support the accounting team in sizing of revenue components and assumptions so as to develop revenue models.</li>
							 <li>Communicate solutions with target customers, your management, and partners, including presentations and white papers</li>
						 </ul>
				 </p>
			 </div>
			 <div class="text editable">
					 <h2 style="color: #d623fe;  text-align: left;font-size: 24px; padding-top: 0px;margin-top: -460px; "><strong>Creative Analyst</strong></h2>
					 <p> Our Creative Analyst infuse life into text-heavy and drab proposals by refurbishing them with targeted graphics and incorporating your brand statement in your responses. Creative Analyst serves as a designer and conceptual artist by taking technical ideas from Solutions Designers and SMEs and visualizing these ideas into appealing info-graphics. The major responsibilities include:
							 
							 <ul>
									<li>Unifying your team’s perspective and goals with a single visualized solution</li>
									<li>Understanding your content and translating them into graphics that convey your message effectively</li>
									<li>Creating plug and play templates and style sheets that incorporate your brand message throughout with custom colors, fonts and cover pages. This gives your document a consistent look and feel and imbibes it with a uniqueness that is you.</li>
									<li>Tailoring your proposals with sector specific banners, icons, bullets, tables etc. to make it attractive and relatable for your clients</li>
								
								 </ul>
						 </p>
			 </div>
		 </div>
	 </section>
	 <section>
			<div class="container flex">
				
				 <div class="text editable">
						 <h2 style="color: #d623fe;  text-align: center;font-size: 24px;"><strong>Bid Auditor</strong></h2>
						 <p>
								Bid Auditor plays a crucial role in the bid life-cycle covering all aspects of reviews and quality. Our Bid Auditors act as editors and reviewers throughout the proposal cycle and look at the proposal from your client’s perspective to ensure the creation of a high quality and client centric bid. They study the proposal requirements and get into your client’s shoes during the review process to ensure all the requirements are met and the final response is clean, consistent and compliant in every way.
							 </p>
				 </div>
			 </div>
		 </section>
		 <p style="font-size: 45px; text-decoration-line: underline overline;text-decoration-color:#d623fe; font-style: bold">
				<strong>TenderMasters has developed a framework that outlines the critical elements of a bid needed to be stitched together to <b style="color:#4182e4">win</b> :</strong>
		 </p>
		 <p >
			 <ol style="font-size: 35px;">
				 <li>COMPLIANCE TO SOLICITATION REQUIREMENTS</li>
				 <li>A VALUE PROPOSITION THAT IS COMPELLING</li>
				 <li>CLEAR & CONCISE MESSAGES</li>
				 <li>PRESENTABLE STRUCTURE</li>
				 <li>TRACK RECORD THAT IS PROVEN</li>
				 <li>SOLUTION THAT IS HARD TO REFUSE</li>
			 </ol>
		 </p>
<!-- <h1 style="text-align: center">Our team</h1>
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
 -->